@model Blog

@{
    ViewData["Title"] = "Blog Post";
}

<div class="card text-center">
    <div class="card-header">
        <h1>@Model.BlogTitle</h1>
        <h3>By: @Model.Creator.Username</h3>
        <img src="@Model.ImageURL" alt="" style="height: autopx;" class="card-img-top rounded mx-auto d-block">
        <p class="fst-italic">@Model.Description</p>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>@Model.BlogContent</p>
        </div>
    </div>
    <div class="d-flex justify-content-evenly">
        <a asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.PostId" class="btn btn-success">Edit Post</a>
        <a asp-controller="Blog" asp-action="Delete" asp-route-id="@Model.PostId" class="btn btn-danger">Delete Post</a>
    </div>
</div>